<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <mat-select>
        <mat-option value="option">Onboard</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="New user name" ngModel name="name" text required #nameInput="ngModel">
      <mat-error *ngIf="nameInput.hasError('required')">Field must not be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="New user email" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input type="password" matInput placeholder="New user password" ngModel name="password" required minlength="6" #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Company role</mat-label>
      <mat-select>
        <mat-option value="option">Administrator</mat-option>
        <mat-option value="option1">user</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Add</button>
  </form>
</section>