<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input type="text" matInput placeholder="User name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input type="email" matInput placeholder="User email" formControlName="email">
    </mat-form-field>

  <mat-form-field hintLabel="Should be at least 6 characters long.">
    <input type="password" matInput placeholder="User password" formControlName="password">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput placeholder="Role id" formControlName="role_id">
  </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>