<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="text" matInput placeholder="Your name" ngModel name="name" text required #nameInput="ngModel">
      <mat-error *ngIf="nameInput.hasError('required')">Field must not be empty.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select the company</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="company_id">
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{company.companyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
      <p></p>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Role id" ngModel name="role_id" text required #nameInput="ngModel">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>